<div class="container container-login">
    <div class="row">
            <div class="col-sm-6"  >
                <img src="imagens/logo.png" width="250" />
            </div>
            <div class="col-sm-6 <col-login></col-login>">
                <h4 style="margin-top: 50px"> Acesso ao Sistema </h4>                

                <form class="form-login" >
                    <fieldset class="form-group">
                        <input ng-model="usuario.login" class="form-control" type="text" placeholder="Login"/>
                        </br>
                        <input ng-model="usuario.senha" class="form-control" type="password" placeholder="Senha"/>
                    </fieldset>
                    <fieldset>
                        <button ng-disabled="!usuario.login || !usuario.senha" class="btn btn-primary btn-block" ng-click="acessarSistema(usuario)"> Acessar</button>
                    </fieldset>
                </form>
            </div>
    </div>    
</div>